<main>
  <div class="parallax bg1">
    <h1>Welcome</h1>
  </div>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus
      neque in nibh porta, sit amet dignissim orci mollis. In in semper tortor.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Fusce tristique malesuada metus, eget porttitor felis. Nam
      sed lacus sed sapien commodo tristique eu vel justo. Praesent ut lorem et
      quam dignissim ornare. Phasellus lobortis porta elit, quis finibus tellus
      lacinia vitae. Vivamus varius varius sapien nec laoreet. Sed tincidunt
      malesuada vulputate. Phasellus non aliquam nisl. Sed sit amet malesuada
      nibh.
    </p>
  </div>
  <div class="parallax bg2"></div>
</main>
