<main>
  <h1>Build a Box!</h1>

  <form>
    <div class="select">
      <label
        >Cupcake 1:
        <select name="cupcake1"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="select">
      <label
        >Cupcake 2:
        <select name="cupcake2"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="select">
      <label
        >Cupcake 3:
        <select name="cupcake3"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="select">
      <label
        >Cupcake 4:
        <select name="cupcake4"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="select">
      <label
        >Cupcake 5:
        <select name="cupcake5"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="select">
      <label
        >Cupcake 6:
        <select name="cupcake6"
          ><option value="baker's choice">Baker's Choice</option>
          <option value="vanilla">Vanilla</option>
          <option value="chocolate">Chocolate</option>
          <option value="redvelvet">Red Velvet</option>
          <option value="lemon">Lemon</option>
          <option value="carrotcake">Carrot Cake</option>
          <option value="carmel">Carmel</option>
          <option value="orange">Orange</option>
          <option value="peanutbutter">Peanut Butter</option>
        </select></label
      >
    </div>
    <div class="submit">
      <button type="submit">Add to Cart</button>
    </div>
  </form>
  <div class="image">
    <img src="./assets/box.jpg" />
  </div>
</main>
