h1 {
  padding-top: 20px;
  text-align: center;
  color: #00023f;
}

ul {
  height: 100%;
  width: fit-content;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px;
  text-align: center;
}

img {
  height: 160px;
  border: 4px solid #f7b6dd;
  border-radius: 5px;
}

p {
  font-size: 20px;
}

.box {
  margin-bottom: 20px;
  background-color: #ee6180;
  width: 60%;

  border-radius: 10px;
  padding: 20px 5px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 10px 10px 40px 4px rgba(0, 0, 0, 0.67);
}
