/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  height: 100%;
  margin: 0px;
  background-color: rgb(219, 237, 248);
}

h1 {
  font-family: "Pacifico";
  color: #f7b6dd;
}

p,
label,
a,
button,
select {
  font-family: "Jost";
  color: #00023f;
}
